* text=auto

/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phpcs.xml export-ignore
/phpunit.xml export-ignore
/README.md export-ignore
/autoload.php export-ignore
/vendor export-ignore
/tests export-ignore
