!/vendor/
/vendor/*
!vendor/symfony/var-exporter/
!/vendor/composer/
!/vendor/autoload.php
composer*.lock
composer-dev.json
*.sh
CURRENT-DEV
CURRENT-PROD
.phpunit.result.cache
!/tests/
/tests/*
!/tests/*.php
