!/vendor/
/vendor/*
!/vendor/symfony/console/
!/vendor/symfony/polyfill-ctype/
!/vendor/symfony/polyfill-intl-grapheme/
!/vendor/symfony/polyfill-intl-normalizer/
!/vendor/symfony/polyfill-mbstring/
!/vendor/symfony/polyfill-php73/
!/vendor/symfony/polyfill-php80/
!/vendor/symfony/service-contracts/
!/vendor/symfony/string/
!/vendor/symfony/var-exporter/
!/vendor/psr/
!/vendor/composer/
!/vendor/autoload.php
/vendor/psr/container/.gitignore
/vendor/psr/container/README.md
/vendor/psr/container/composer.json
composer*.lock
composer-dev.json
*.sh
CURRENT-DEV
CURRENT-PROD
.phpunit.result.cache
!/tests/
/tests/*
!/tests/*.php
