!/vendor/
/vendor/*
!/vendor/symfony/console/
!/vendor/symfony/polyfill-ctype/
!/vendor/symfony/polyfill-intl-grapheme/
!/vendor/symfony/polyfill-intl-normalizer/
!/vendor/symfony/polyfill-mbstring/
!/vendor/symfony/polyfill-php73/
!/vendor/symfony/polyfill-php80/
!/vendor/symfony/service-contracts/
!/vendor/symfony/string/
!/vendor/symfony/var-exporter/
!/vendor/psr/
!/vendor/composer/
!/vendor/autoload.php

/vendor/symfony/var-exporter/.gitattributes
/vendor/symfony/var-exporter/.gitignore
/vendor/symfony/string/.gitattributes
/vendor/symfony/string/.gitignore
/vendor/symfony/service-contracts/.gitignore
/vendor/symfony/console/.gitattributes
/vendor/symfony/console/.gitignore
/vendor/psr/container/.gitignore
/vendor/symfony/polyfill-ctype/composer.json
/vendor/symfony/polyfill-php80/composer.json
/vendor/symfony/var-exporter/composer.json
/vendor/symfony/polyfill-mbstring/composer.json
/vendor/symfony/polyfill-intl-normalizer/composer.json
/vendor/symfony/polyfill-intl-grapheme/composer.json
/vendor/symfony/string/composer.json
/vendor/symfony/service-contracts/composer.json
/vendor/symfony/polyfill-php73/composer.json
/vendor/symfony/console/composer.json
/vendor/psr/container/composer.json
/vendor/symfony/polyfill-ctype/README.md
/vendor/symfony/polyfill-php80/README.md
/vendor/symfony/var-exporter/README.md
/vendor/symfony/polyfill-mbstring/README.md
/vendor/symfony/polyfill-intl-normalizer/README.md
/vendor/symfony/polyfill-intl-grapheme/README.md
/vendor/symfony/string/README.md
/vendor/symfony/service-contracts/README.md
/vendor/symfony/polyfill-php73/README.md
/vendor/symfony/console/README.md
/vendor/psr/container/README.md
/vendor/symfony/var-exporter/CHANGELOG.md
/vendor/symfony/string/CHANGELOG.md
/vendor/symfony/service-contracts/CHANGELOG.md
/vendor/symfony/console/CHANGELOG.md
/vendor/symfony/var-exporter/phpunit.xml.dist
/vendor/symfony/string/phpunit.xml.dist
/vendor/symfony/console/phpunit.xml.dist
/vendor/symfony/var-exporter/Tests
/vendor/symfony/string/Tests
/vendor/symfony/console/Tests
/vendor/symfony/polyfill-ctype/.git
/vendor/symfony/polyfill-php80/.git
/vendor/symfony/var-exporter/.git
/vendor/symfony/polyfill-mbstring/.git
/vendor/symfony/polyfill-intl-normalizer/.git
/vendor/symfony/polyfill-intl-grapheme/.git
/vendor/symfony/string/.git
/vendor/symfony/service-contracts/.git
/vendor/symfony/polyfill-php73/.git
/vendor/symfony/console/.git
/vendor/psr/container/.git

composer*.lock
composer-dev.json
*.sh
CURRENT-DEV
CURRENT-PROD
.phpunit.result.cache
!/tests/
/tests/*
!/tests/*.php
